#nav-bar {
    background-color: #00a087;
    width: 100%;
    height: 80px;
    /*border: 0;*/
    top: 0;
    border-radius: 0px;
    margin-bottom: 20px;
    padding-left: 2em;
    padding-right: 2em;
    color: #e8fdff;
    font-size: 200%;
    position: fixed;
    opacity: 1;
    z-index: 9999;
}

#nav-bar .logo {
    width: 80px;
    height: 80px;
    padding: 0px;
    float: left;
}

#nav-bar .header {
    line-height: 80px;
    font-size: 100%;
    float: left;
    margin-left: 10px;
}

.header-content {
    align-content: center;
}

.compose-btn {
    float: right;
    line-height: 40px;
    width: 100px;
    height: 40px;
    font-size: 50%;
    /*vertical-align: -webkit-baseline-middle;*/
    text-align: center;
    margin-top: 20px;
}

#login-register.hidden {
    display: none;
}

.compose-btn.hidden {
    display: none;
}

.compose-btn:hover {
    float: right;
    line-height: 40px;
    width: 100px;
    height: 40px;
    font-size: 50%;
    vertical-align: -webkit-baseline-middle;
    background-color: green;
    text-align: center;
    margin-top: 20px;
}


/*
.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
}*/